body{
  padding: 5px;
}
header{
  background-color: #5C2751;
  padding: 15px;
  color: #9FC490;
  border-radius: 25px;
  text-align: center;
}
#mapdiv{
    width: 96%;
    height: 96%;
    margin: 2%;
}
#stats-table{
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 10px solid #f39c6b;
}

#stats-table td {
    padding: 12px 15px;
    background-color: white;
    border-bottom: 5px solid #f39c6b;
}
#data-table{
  clear: both;
}
#form{
  float: right;
  width: 45%;
  height: 800px;
  background-color: #9FC490;
  border: 15px solid #5C2751;
}
#map{
  width: 45%;
  height: 800px;
  background-color: #9FC490;
  border: 15px solid #5C2751;
}
.text{
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: #f39c6b;
  padding: 20px;
}
iframe{
  width: 100%;
  height: 100%;
}
